{% set navigation = [
{'url': 'index', 'display_name': 'Home'},
{'url': 'spam', 'display_name': 'spam'},
{'url': 'hello_word', 'display_name': 'hello'},
{'url': 'hello_word_color', 'display_name': 'hello in color'},
{'url': 'help', 'display_name': 'help'},
{'url': 'contact', 'display_name': 'contact'},
{'url': 'about', 'display_name': 'about'},
{'url': 'new_index', 'display_name': 'new_index'},
{'url': 'base', 'display_name': 'base'},
{'url': 'login', 'display_name': 'login'},

] -%}

{% set active_page = active_page|default('index') -%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse"
             id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% for item in navigation %}
                <li class="nav-item">
                    <a class="nav-link {%
                    if item['url'] == active_page %}
                     active
                    {% endif %}"
                       href="{{ url_for(item['url']) }}">{{ item['display_name'] }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>