<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>portfolio</title>
</head>
<body>
<h1>portfolio</h1>
<h2>Andrii Semen</h2>
<img src="{{ url_for('static', filename='https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shutterstock.com%2Fpl%2Fsearch%2Fmatiz&psig=AOvVaw0cuy4jIhxB0A4J_AYYt4WN&ust=1685092534712000&source=images&cd=vfe&ved=0CA4QjRxqFwoTCKCc9ImRkP8CFQAAAAAdAAAAABAS') }}" alt="Matiz"><br>
<p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
<p> "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</p>
<p><a href="{{ url_for('index') }}">Back to Home</a></p>
</body>
</html>
